.btn-success {
    border: none;
    background-color: #00C68E;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
      font-family: 'Roboto';
    font-size: 16px;
    border-radius: 5px;
    margin-top: 8px;
  }

  .btn-success:hover,
  .btn-success:focus {
    background-color: white;
    border: none;
    color: #00C68E;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
  }

  .nav.navbar-nav li a {
    background-color: #00C68E;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    margin-top: 8px;

  }

  .nav.navbar-nav li a:hover,
  .nav.navbar-nav li a:focus {
    background-color: white;
    border: none;
    color: #00C68E;
    border-radius: 5px;
  }

#outer-div {
    background-color: #00C68E;
    height: 94px;
    margin-top: 5px;
}

#inner-div {
    background-color: white;
    height: 90px;
    border: none;
    color: #00C68E;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

#table-data {
    font-family: 'Roboto';
    border-collapse: collapse;
    width: 100%;
}

#table-data td,#table-data th {
    text-align: center;
    width: 185px;
    margin-left: 30px;
    margin-right: 32px;
    margin-bottom: 10px;
    font-size: 14px;

}

#table-data th {
    color: #4A4A4A;
    width: 185px;
}

#search {
    margin-right: 0;
    margin-top: 5px;
    width: 450px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #03B898;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    height: 1px;
}

.img__des {
  position: absolute;
  color: #03B898;
  visibility: hidden;
  opacity: 0;
  top:155px;
  left:870px;
  right:370px;
  bottom: 970px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__des {
  visibility: visible;
  opacity: 1;
}
