<nav class="navbar navbar-light" style="background-color: #00C68E;">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ><img width="180px" height="33px" alt="Angular Logo" src="assets/Tezsurelogowhitefull.png"></a>
    </div>
     <ul class="nav navbar-nav horizontal-navbar">      
      <li style="padding-left: 150px;"><a  routerLink="/accounts">Accounts</a></li>
      <li style="padding-left: 20px;" ><a  routerLink="/blocks">Blocks</a></li> 
      <li style="padding-left: 20px;" ><a  routerLink="/transactions">Transactions</a></li> 
      <li style="padding-left: 20px;" ><a  routerLink="/contracts">Contracts</a></li>
      <li style="padding-left: 20px;" ><a  routerLink="/events">Events</a></li>
      <li style="padding-left: 20px;" ><a  routerLink="/wallet">Wallets</a></li>                          
    </ul>     
    <ul class="nav navbar-nav navbar-right horizontal-navbar">      
      <li style="margin-right: 20px" class="list-style"><button  class="btn btn-success"  (click)="openDialog()">Local Node</button></li>
      <li style="margin-right: 60px;" class="list-style"><button  class="btn btn-success" (click)="alphanet()">alphanet</button></li>
    </ul>     
  </div>  
  <hr>  
  <div class="container-fluid" id="outer-div">
    <div class="container-fluid" id="inner-div">
        <table id="table-data">
            <thead>
              <th>Block</th><th>Guess Limit</th><th>Guess Price</th><th>Network Id</th><th style="width: 200px">RPC Server</th><th>Port</th><th>Status</th><th><input type="text" id="search" placeholder="   Block/Accounts/Contracts...."></th>           
            </thead> 
            <tbody><th></th><th></th><th></th><th></th><th>{{configData.provider}}</th><th></th><th></th><th></th></tbody>             
          </table>

       
    </div>

  </div>
</nav>
