.btn-success{  
    border: none;
    background-color: #00C68E;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    border-radius: 26px; 
    margin-top: 8px;   
}

.btn-success:hover,
.btn-success:focus {
    background-color: white;
    border: none;
    color: #03B898;
    padding: 10px;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    border-radius: 26px;    
}

.nav.navbar-nav li a{    
    background-color: #00C68E;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;    
    font-size: 16px; 
    margin-top: 8px;   
}

.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus {
    background-color: white;
    border: none;
    color: #03B898;
    padding: 10px;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    border-radius: 5px;    
}

#outer-div{
    background-color: #00C68E;
    height: 90px;
    margin-top:10px;
}

#inner-div{
    background-color:white;
    height: 85px;
    margin-left: 30px;
    margin-right: 30px; 
    margin-bottom: 10px;   
    border: none;
    color: #03B898;
    padding: 8px;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    border-radius: 10px;    
}

#table-data {
    font-family: "century gothic pro regular,Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #4A4A4A;
    border-collapse: collapse;
    width: 100%;     
  }
  
  #table-data td,#table-data th{   
    padding: 10px;
    text-align: center;
    width: 100px;
  }  

  #table-data th {
    padding-top: 0px;    
    padding-bottom: 7px;
    text-align: center;  
  }

  #search{
      margin-right:0;
      margin-top: 5px;      
      width:450px;
      height: 40px;
      border-radius: 50px; 
      border: 1px solid #03B898;
      
  }
  