/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* @import '~@fortawesome/fontawesome-free/css/all.css'; */
@import './workspace/bootstrap.min.css';
@import './workspace/index.scss';
@import './Onboard/Onboard.scss';

/* @import '~bootstrap/scss/bootstrap'; */
