h2,h4{
    color: #00C68E;
}

#header{
    margin-top: 2%;
    margin-left: 33%;
    margin-right: 37%;
    font-family: 'Century gothic pro regular';
}

.select{
    width: 340px;
    margin-right: 10px;
}

label{
    /* display: inline-block; */
    /* width: 160px; */
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;    
    font: bold; 
    padding: 2px; 
    color: #00C68E;          
}

.main{
    font-family: 'Century gothic pro regular';
    margin-top: 2%;
}

.textcolor:focus {
    border-color: #4CAF50;
    box-shadow: 0px 1px 1px rgb(8, 235, 167) inset, 0px 0px 8px rgba(14, 243, 64, 0.993);
    width: 120px;
}

.custom {
    background-color: #00C68E;
    color:white;
    border-radius: 5px;
    margin-top: 1%;
    padding: 10px;
    font-family: 'Century gothic pro regular';
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
  .custom:hover,
  .custom:focus {
    background-color: white;    
    color: #03B898;
    border-radius: 5px;
    border: none;    
    padding: 10px;
    font-family: 'Century gothic pro regular';
    font-size: 16px;
    text-align: center;
    text-decoration: none;       
}

#b2,#b3{
    margin-left: 1.5%;
}

#action-button{
    margin-left:75%;
}