h3,
h4 {
	color: #00C68E;
}

#header {
	margin-top: .5%;
	margin-left: 33%;
	margin-right: 37%;
	font-family: "Century Gothic Pro Regular";
}

.select {
	width: 280px;
	margin-right: 10px;
}

label {
	text-align: right;
	margin-right: 10px;
	margin-left: 5px;
	font: bold;
	padding: 2px;
	color: #00C68E;
}

.main {
	font-family: "Century Gothic Pro Regular";
	margin-top: 1.0%;
	line-height: 1.15;
}

.textcolor:focus {
	border-color: #4CAF50;
	box-shadow: 0px 1px 1px rgb(8, 235, 167) inset, 0px 0px 8px rgba(14, 243, 64, 0.993);
	width: 120px;
}

.custom {
	background-color: #00C68E;
	color: white;
	border-radius: 5px;
	font-family: "Century Gothic Pro Regular";
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	margin-left: 65%;
}

.custom:hover,
.custom:focus {
	background-color: white;
	color: #03B898;
	border-radius: 5px;
	font-family: "Century Gothic Pro Regular";
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	margin-left: 65%;
}

#b2,
#b3 {
	margin-left: 1.5%;
}