<div class="main" id="header">
		<h3>Smart contract deployment</h3>
	</div>
	<mat-tab-group mat-align-tabs="end">
		<mat-tab label="Deploy Contract">
			<div style="margin-top: 1%;">
				<div class="jumbotron">
				<label for="account"><b>Select an account</b><span style="color:red">*</span>
				</label>
				<select [(ngModel)]="accountpkh" (change)="selected()" class="select">
				<option *ngFor="let account of configData.accounts" [ngValue]="account.pkh">{{account.pkh}}</option>
				</select>
				<label for="Smart Contract File"><b>Upload contract<span style="color:red">*</span></b>
				</label>
				<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".tz">
				
				<label for="contract label"><b>Contract label</b><span style="color:red">*</span>
				</label>
				<input type="text" [(ngModel)]="contract" class="textcolor" style="width: 200px" placeholder="Contract label/name">
				<br>
				<label style="margin-left: 3.8%;" for="contract label"> <b>Inital value</b><span style="color:red;">*</span>
				</label>
				<input type="text" [(ngModel)]="initValue" class="textcolor" style="width: 200px" placeholder='Intial value for account'>
				&nbsp;&nbsp;&nbsp;<button class="btn  btn-md contractCustom" (click)="deployContract()"> Deploy Contract</button>
			</div>
			</div>
		</mat-tab>
		<mat-tab label="Call Contract">
			<div style="margin-top: 1%;">	
					
				<div class="jumbotron">

				<label for="account">
				<b>Select an account</b><span style="color:red">*</span>
				</label>
				<select [(ngModel)]="accountpkh" (change)="selected()" class="select">
				<option *ngFor="let account of configData.accounts" [ngValue]="account.pkh">{{account.pkh}}</option>
				</select>
				<label for="contract label">
				<b>Contract label</b><span style="color:red">*</span>
				</label>
				<input type="text" [(ngModel)]="contract" class="textcolor" style="width: 280px" placeholder="Contract label/name">
				<label for="contract label"> <b>Inital value</b><span style="color:red;">*</span>
				</label>
				<input type="text" [(ngModel)]="initValue" class="textcolor" style="width: 280px" placeholder='Intial value for account'>
				&nbsp;&nbsp;&nbsp;<button class="btn  btn-md contractCustom" (click)="callContract()"> Call Contract</button>
			</div>
			</div>
		</mat-tab>
		<mat-tab label="View Storage Value">
			<div style="margin-top: 1%;">\
					<div class="jumbotron">
		
				<label for="account">
				<b>Select an account</b><span style="color:red">*</span>
				</label>
				<select [(ngModel)]="accountpkh" (change)="selected()" class="select">
				<option *ngFor="let account of configData.accounts" [ngValue]="account.pkh">{{account.pkh}}</option>
				</select>
				<label for="contract label">
				<b>Contract label</b><span style="color:red">*</span>
				</label>
				<input type="text" [(ngModel)]="contract" class="textcolor" style="width: 280px" placeholder="Contract label/name">
				&nbsp;&nbsp;&nbsp;<button class="btn  btn-md contractCustom" (click)="getStorage()"> Get Storage value</button>
			</div>
		</div>

		</mat-tab>
		<mat-tab label="Applied Contract History">
			<div style="margin-top: 1%;">
					<div class="jumbotron">
	
				<label for="account"><b>Select an account</b><span style="color:red">*</span>
				</label>
				<select [(ngModel)]="accountpkh" (change)="selected()" class="select">
				<option *ngFor="let account of configData.accounts" [ngValue]="account.pkh">{{account.pkh}}</option>
				</select>&nbsp;&nbsp;&nbsp;<button class="btn  btn-md contractCustom" (click)="viewContract()"> Show Contract</button>
			</div>
			</div>
			<hr>
			<div id="transactions" *ngIf='contractData.length > 0'>
				<table id='transactionData' *ngIf='contractData.length > 0'>
					<tr>
						<th>Contract label</th>
						<th>Contract identity</th>
						<th>Contract hash</th>
						<th>Intial contract value</th>
						<th>Status</th>
					</tr>
					<tr *ngFor="let trans of cont_txs">
						<td>{{trans.label}}</td>
						<td>{{trans.identity}}</td>
						<td>{{trans.pkh}}</td>
						<td>{{trans.IntialValue}}</td>
						<td>{{trans.status}}</td>
					</tr>
				</table>
			</div>
		</mat-tab>
	</mat-tab-group>