<div class="main" id="header">
	<h3>Smart contract deployment</h3>
 </div>
 <div id="action-button">
	<button class="btn  btn-md custom" id="b1" (click)="deployContract()">Deploy contract</button>
	<button class="btn  btn-md custom" id="b2" (click)="callContract()">Call contract</button>
	<button class="btn  btn-md custom" id="b3" (click)="getStorage()">View initial value</button>
 </div>
 <hr>
 <div class="main">
	<div class="row">
	   <label for="account"><b>Select an account</b><span style="color:red">*</span>
	   </label>
	   <select [(ngModel)]="accountpkh" (change)="selected()" class="select">
	   <option *ngFor="let account of configData.accounts" [ngValue]="account.pkh">{{account.pkh}}</option>
	   </select>
	   <label for="Smart Contract File"><b>Upload contract<span style="color:red">*</span></b>
	   </label>
	   <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".tz">
	   <label for="contract label"><b>Contract label</b><span style="color:red">*</span>
	   </label>
	   <input type="text" [(ngModel)]="contract" class="textcolor" style="width: 280px" placeholder="Contract label/name">
	</div>
	<div class="row" style="margin-top: 1%;margin-left: 0.5%">
	   <label for="contract label"> <b>Inital value</b><span style="color:red;">*</span>
	   </label>
	   <input type="text" [(ngModel)]="initValue" class="textcolor" style="width: 280px" placeholder='Intial value for account'>
	   &nbsp;&nbsp;&nbsp;<button class="btn  btn-md contractCustom" (click)="viewContract()"> View contracts</button>

	</div>

 </div>

 <hr>
 <div id="transactions" *ngIf='contractData.length > 0'>
 	<table id='transactionData' *ngIf='contractData.length > 0'>
 		<tr>
 			<th>Contract label</th>
 			<th>Contract identity</th>
 			<th>Contract hash</th>
 			<th>Intial contract value</th>
 			<th>Status</th>
 		</tr>
 		<tr *ngFor="let trans of cont_txs">
 			<td>{{trans.label}}</td>
 			<td>{{trans.identity}}</td>
 			<td>{{trans.pkh}}</td>
 			<td>{{trans.IntialValue}}</td>
 			<td>{{trans.status}}</td>
 		</tr>
 	</table>
 </div>
