#customers {
    font-family: "Century Gothic","Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 3%;  
  }
  
  #customers td,#customers th{    
    padding: 35px;
    text-align: center;
  }
  #customers tr:nth-child(even){background-color: #f2f2f2;}  


  #customers th {
    padding-top: 12px;    
    padding-bottom: 12px;
    text-align: center;   
    color:#00C68E;
  }
 
  .custom {background-color: #00C68E;color:white;border-radius: 5px;}
  .custom:hover,
  .custom:focus {
    background-color: white;
    border: none;
    color: #03B898;
    padding: 10px;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    border-radius: 5px;    
}

