#accountDiv {
  overflow: scroll;
  height: auto;;
  width: 100%;
}

#customers {
  font-family: 'Century gothic pro regular';
  border-collapse: collapse;
  width: 100%;    
  margin-top: 1.5%;
}

#customers td,
#customers th {
  padding: 18px;
  text-align: center;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers th {
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  color: #00C68E;
}

.custom {
  background-color: #00C68E;
  color: white;
  border-radius: 5px;
  font-family: 'Century gothic pro regular';
  float: right;
  margin-top: 1%;
}

.custom:hover,
.custom:focus {
  background-color: white;
  border: none;
  color: #03B898;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}