<table id="customers" *ngIf="configData && configData.accounts">
        <tr>
          <th>Account Label</th>
          <th>Account Address</th>
          <th>Account Balance</th>
          <th>TX Count</th>
          <th>Index</th>
          <th>Secret Key</th>
        </tr>
        <tr *ngFor="let acc of acc">
          <td>{{acc.label}}</td>
          <td>{{acc.address}}</td>                     
          <td>{{acc.balance | async}}</td>
          <td>0</td>
          <td>0</td>
          <td>{{acc.sec}}</td>
        </tr>
      </table>
