<div class="modal-header" style="font-family: 'Roboto'">
	<h4 class="modal-title pull-left">Alphanet Provider</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body" style="font-family: 'Roboto'">
	<h5>Do You want to set node provider as Alphanet:  https://tezos-dev.cryptonomic-infra.tech/</h5>
	<p>Account balance might be change due to switching  node</p>
  </div>
  <div class="modal-footer" style="font-family: 'Roboto'">
	  <button class="btn btn-secondary"  (click)="onNoClick()">No</button>
	  <button  (click)="onClick()" class="btn btn-success">Yes</button>
  </div>
