<div class="modal-header">
  <h4 class="modal-title pull-left">Alphanet Provider</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">  
  <h5>Do You want to set node provider as Alphanet: http://alphanet-node.tzscan.io</h5> 
</div>
<div class="modal-footer">  
    <button class="btn btn-secondary"  (click)="onNoClick()">No</button>  
    <button  (click)="onClick()" class="btn btn-success">Yes</button>
</div>