<div class="modal-header" style="font-family: 'Roboto'">
	<h4 class="modal-title pull-left">Create Secure Wallet</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()"> <span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" style="font-family: 'Roboto'">
	<h6>Node provider is connected : {{configData.provider}}</h6>
	<p>For Alphanet Account Email+password is required <span style="color: red">*</span>
	</p>
	<hr>
	<p>Please write your seed words below and store them in a secure place. These can be used to restore your wallet.<br>If you choose to use a Passphrase,this will need to be noted down and stored as well <span style="color: red">*</span>
	</p>
	<hr>
	<div class="mnemonic text-center">{{mnemonics}}</div>
	<img alt="new mnemonic" (click)="newMnemonic()" src="assets/changeMnemonics.png">
	<br>
	<hr>
	<!-- <button class="btn btn-primary btn-sm"  (click)="newMnemonic()">New Mnemonics</button><hr> -->
	<label for="pass">Optional key:</label>
	<input type="password" [(ngModel)]="password" id="password" class="textcolor" style="width: 330px;">
	<br>
</div>
<div class="modal-footer" style="font-family: 'Roboto'">
	<button class="btn btn-secondary" (click)="onNoClick()">Cancel</button>
	<button (click)="onClick()" class="btn btn-success">Validate Wallet</button>
</div>
