<div class="modal-header" style="font-family: 'Roboto'">
	<h4 class="modal-title pull-left">Your Network Provider is connected by - {{configData.provider}}</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()"> <span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" style="font-family: 'Roboto'">
	<p>Change your provider?</p>
	<input type="text" [(ngModel)]="userData" id="search" placeholder="http://localhost:18731/">
	<p>E.g. - http://localhost:18731/</p>
	<p>Account balance might be change due to switching  node</p>
</div>
<div class="modal-footer" style="font-family: 'Roboto'">
	<button class="btn btn-secondary" (click)="onNoClick()">No</button>
	<button (click)="onClick()" class="btn btn-success" [disabled]="!userData">Yes</button>
</div>
