#walletDropdown {
  margin-top: 3%;
}

#text {
  margin-left: 1%;
}

select {
  margin-left: 1%;
}

#transactionData {
  font-family: "Century Gothic","Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
}

#transactionData td,#transactionData th {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

#transactionData tr:nth-child(even) {
  background-color: #f2f2f2;
}

#transactionData tr:hover {
  background-color: #ddd;
}

#transactionData th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #00C68E;
  color: white;
}

.btn-success {
  border: none;
  background-color: #00C68E;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 60%;
}

/* .btn-success:hover,
.btn-success:focus {
    background-color: white;
    border: none;
    color: #03B898;
    padding: 10px;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    border-radius: 26px;    
} */