.accounts-container {
  height: 100%;
  padding: 10px;
  border-top: 0.5px solid #dee2e6;
  overflow: hidden;
}
.accounts-table-container {
  background-color: #ffff !important;
  color: #727d95 !important;
  font-weight: 700;
}
.icon-key {
  background: url('../../../resources/icons/Group 7.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-repeat: no-repeat;
}
.accounts-table-container {
  overflow: auto;
  max-height: 88%;
}
.blocks-cards-container p {
  word-break: break-all;
}
.modal {
  display: block !important;
  padding-right: 15px;
  opacity: 1 !important;
}
.important-symbol {
  color: red;
  font-weight: bold;
}
.modal-footer > .btn {
  border-radius: 0 !important;
}
.btn-success {
  background-color: #39b999 !important;
  border: 1px solid #39b999;
}
.btn-success:hover {
  background-color: #39b999 !important;
  border: 1px solid #39b999;
}
.modal-content {
  border-radius: 0px;
}
.modal-body {
  border-bottom: 1px solid #dee2e6;
}
.modal-input {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  align-items: baseline;
}
.input-container {
  width: 40%;
}
.modal-dialog > .modal-content {
  max-height: 600px;
  overflow: auto;
}
.modal {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
span.error-msg {
  text-align: end;
  margin-right: 20px;
  color: red;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  background: #ccc;
  border: 1px solid #ccc;
}
#json-pretty {
  background-color: #f1f3f5 !important;
  border: 4px solid #f1f3f5 !important;
  border-radius: 4px !important;
}
#json-pretty > pre {
  background-color: #f1f3f5 !important;
}
.suggestion-msg {
  background-color: #f1f3f5 !important;
  border: 4px solid #f1f3f5 !important;
  border-radius: 4px !important;
}
.refresh-icon {
  animation: spin 1s infinite ease-in;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.inline-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
}
#json-pretty > pre {
  font-family: Gilroy-light;
}
input {
  border-radius: 0rem !important;
}
.mnemonics-container {
  background: #dee2e6;
  padding: 2%;
}
.mnemonics {
  font-family: inherit;
  color: black;
}
.wallet-sidebar-container {
  width: 40%;
  margin-left: 10px;
}
.wallet-input-container {
  width: 60%;
  border-right: 1px solid #ced4da;
}
.wallet-container {
  display: inline-flex;
  width: 100%;
}
.wallet-input-container {
  height: 100vh;
}
.wallet-input-container .modal-footer {
  border-top: none;
}
.add-faucet-account {
  justify-content: space-between;
}
.add-faucet-account .input-container {
  width: 15%;
}
.add-faucet-account .form-control {
  width: 45%;
  margin-right: 10px;
}
.add-faucet-account .btn {
  border-radius: 0px;
}
.alert.alert-warning {
  border-radius: 0px;
}
.alert.alert-danger {
  border-radius: 0px;
}
button.btn.btn-warning:focus {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}
