.contracts-table-container {
  overflow-y: scroll;
  max-height: 500px;
  background-color: #ffff !important;
  color: #727d95 !important;
  font-weight: 700;
  padding: 10px;
  border-top: 0.5px solid #dee2e6;
}
.contract-deployed {
  background: #39b999;
  color: #fff;
  padding: 4px;
  padding-right: 18px;
  padding-left: 18px;
  position: inherit;
  margin-top: 1rem;
  border-radius: 18px;
  margin-left: 0.5rem;
}
.contract-status-container {
  margin-top: 10px;
}
.container-msg {
  text-align: end;
  margin-right: 1rem;
  font-weight: 500;
  background-color: #3dcc8e;
  color: white;
  border: 1px solid #3dcc8e;
  border-radius: 20px;
  margin-left: 26%;
}
.success-msg {
  padding-right: 10px;
}
