.parseError {
  padding: 10px;
  border: 0;
  border-bottom: 10px;
  background-color: #d6d6d6;
  width: 100%;
  overflow: auto;
  height: 100vh;
}
div#nav-michelson {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  max-width: 100%;
}
.margin-view-overlays {
  background-color: #f1f3f5;
}
.code-editor-navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-secondary {
  color: #fff !important;
  background-color: #39b999 !important;
  border-color: #39b999 !important;
  border: 1px solid #39b999;
  border-radius: 0;
}
.custom-select {
  border-radius: 0;
}
.custom-file-label::after {
  border-radius: 0;
  color: #237893;
  background-color: #f1f3f5;
}
.custom-file {
  margin-right: 15px;
}
.select-contract-container {
  margin-right: 10px;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black;
}
a {
  color: #495057;
}
a:hover {
  color: #495057;
}
.code-editor {
  width: 70%;
  margin-right: 10px;
}
.code-editor-deploy {
  width: 30%;
  border: 1px solid #cccc;
  border-right: 0;
}
.editor-container {
  display: flex;
  flex-direction: row;
  background: #fff;
  height: 100%;
  border-top: 0.5px solid #dee2e6;
  overflow: hidden;
}
.editor {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color: #ccc;
  width: 100%;
  position: relative;
  height: 85%;
  background-color: #fff !important;
  overflow: auto;
  max-width: 100%;
}
.tab-pane {
  padding: 5px;
}
#json-pretty > pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.deploy-contents .modal-input {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: baseline;
}
.deploy-contents .input-container {
  width: 100%;
}
.deploy-contents {
  max-height: 100vh;
  height: 70vh;
  overflow: auto;
}
