.parseError {
  padding: 10px;
  border: 0;
  border-bottom: 10px;
  background-color: #dee2e6;
  width: 100%;
  overflow: auto;
  height: 100%;
}
div#nav-tabContent {
  height: 90%;
}

div#nav-michelson {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  max-width: 100%;
}
.margin-view-overlays {
  background-color: #f1f3f5;
}
.code-editor-navbar {
  padding: 10px;
  position: fixed !important;
  display: flex;
  position: inherit !important;
  flex-direction: row;
  justify-content: space-between;
}
.btn-secondary {
  color: #fff !important;
  background-color: #39b999 !important;
  border-color: #39b999 !important;
  border: 1px solid #39b999;
  border-radius: 0;
}
.custom-select {
  border-radius: 0;
}
.custom-file-label::after {
  border-radius: 0;
  color: #237893;
  background-color: #f1f3f5;
}
.custom-file {
  margin-right: 15px;
}
.select-contract-container {
  margin-right: 10px;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.editor-siderbar-nav {
  width: 33.3%;
  text-align: center;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black;
}
a {
  color: #495057;
}
a:hover {
  color: #495057;
}
.code-editor {
  margin-right: 10px;
}
.code-editor-deploy {
  width: 40%;
  border: 1px solid #cccc;
}
.editor-container {
  display: flex;
  flex-direction: row;
  background: #fff;
}
.editor {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color: #ccc;
  width: 100%;
  position: relative;
  height: 85%;
  background-color: #fff !important;
  overflow: auto;
  max-width: 100%;
}
.tab-pane {
  padding: 5px;
}

.deploy-contents .modal-input {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: baseline;
}
.deploy-contents .input-container {
  width: 100%;
}
.deploy-contents {
  max-height: 100vh;
  height: 70vh;
  overflow: auto;
}
.custom-file-input {
  cursor: pointer;
}
.nav-link {
  cursor: pointer;
  background: #f1f3f5;
}
.nav-link active {
  background: #fff;
}
.container-msg {
  padding-left: 1rem;
  margin-left: 0;
}
.ace-editor-container {
  width: 60%;
  margin-right: 10px;
  border: 1px solid #fff;
}
.editor-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-navbar-container {
  width: 40%;
  margin-right: 2%;
}
.editor-navbar {
  margin-bottom: 1%;
}
button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
