@font-face {
  font-family: Gilroy-light;
  src: url('../../../resources/gilroy-font/Gilroy-Light.otf');
}
@font-face {
  font-family: Gilroy-bold;
  font-weight: bold;
  src: url('../../../resources/gilroy-font/Gilroy-ExtraBold.otf');
}
body {
  margin: 0;
  font-family: Gilroy-light;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f0f3f8;
}
.app-header {
  grid-area: header;
  box-shadow: 0 0 4px 1px #cccc;
  background-color: #ffff;
}
.container-sidebar {
  grid-area: menu;
}
.container-dashboard {
  grid-area: main;
}
.grid-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    'header header'
    'menu main';
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-container-collapsed {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 8% 92%;
  grid-template-areas:
    'header header'
    'menu main';
}
.grid-container-collapsed > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
@media only screen and (max-width: 1050px) {
  .grid-container {
    grid-template-columns: 20% 80% !important;
  }
  .grid-container-collapsed {
    grid-template-columns: 10% 90% !important;
  }
}
.top-bar {
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 2.5rem;
}
:focus {
  outline: 0;
}
.search-bar {
  background-color: #f1f3f5;
  border-color: #f1f3f5;
  border-radius: 18px 18px 18px 18px !important;
  border: 1px solid #f1f3f5;
}
.search-bar:focus {
  background-color: #f1f3f5;
  border-color: #f1f3f5;
  border-radius: 18px 18px 18px 18px !important;
  border: 1px solid #f1f3f5;
}
.button-search {
  color: #fff;
  background-color: #09ba97;
  border: 1px solid #09ba97;
  border-radius: 0 18px 18px 0;
  border: 1px solid #09ba97;
  font-size: 0.875rem;
}
.button-search:hover {
  color: #fff;
  background-color: #09ba97;
  border: 1px solid #09ba97;
  box-shadow: 0 0 5px 1px #3dcc8e;
  border-radius: 0 18px 18px 0;
  border: 1px solid #09ba97;
  font-size: 0.875rem;
}
.button-navbar-save {
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  border-right: 30px solid transparent;
  border-top: 50px solid #4c4c4c;
  height: 0;
  line-height: 20px;
}
.notification-icon {
  background: url('../../../resources/icons/notifications.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.profile-image {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.profile-container {
  width: 20%;
  text-align: end;
}
.top-bar {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 5% 15% 80%;
  grid-template-areas: 'siderbarIcon siderbarLogo searchBar';
}
.siderbar-icon-container {
  grid-area: siderbarIcon;
  margin-top: 5px !important;
  cursor: pointer;
}
.siderbar-logo-container {
  grid-area: siderbarLogo;
  margin-top: 5px !important;
  cursor: pointer;
}
.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: searchBar;
}
.user-profile-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: -webkit-fill-available;
  cursor: pointer;
}
.name-container {
  margin-top: 5px;
  margin-left: 5px;
}
.notification-icon {
  margin-right: 15px;
  margin-top: 5px;
}
