.accounts-icon {
  background: url('../../../resources/icons/126486.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}

.blocks-icon {
  background: url('../../../resources/icons/24px_grid-interface.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.wallet-icon {
  background: url('../../../resources/icons/24px_wallet-90.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.card-icon {
  background: url('../../../resources/icons/24px_card.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.events-icon {
  background: url('../../../resources/icons/24px_progress.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.fill-icon {
  background: url('../../../resources/icons/Fill 1.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.email-icon {
  background: url('../../../resources/icons/24px_email.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.settings-icon {
  background: url('../../../resources/icons/24px_settings-gear.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.hamburger-icon {
  background: url('../../../resources/icons/activity-icon.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  margin-top: 5px !important;
}
.search-icon {
  background: url('../../../resources/icons/search.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  margin-top: 5px !important;
}

.accounts-icon-active {
  background: url('../../../resources/icons/126486-green.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.blocks-icon-active {
  background: url('../../../resources/icons/24px_grid-interface-green.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.wallet-icon-active {
  background: url('../../../resources/icons/Balances-green.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.card-icon-active {
  background: url('../../../resources/icons/Debit Card-green.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.events-icon-active {
  background: url('../../../resources/icons/History-green.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.fill-icon-active {
  background: url('../../../resources/icons/Fill 1-green.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.email-icon-active {
  background: url('../../../resources/icons/Invite-green.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.settings-icon-active {
  background: url('../../../resources/icons/Settings-green.svg');
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
