.empty-transaction {
  text-align: center;
}
.transaction-container {
  height: -webkit-fill-available;
  padding: 10px;
  background: #fff;
  border-top: 0.5px solid #dee2e6;
  max-height: -webkit-fill-available;
  overflow: auto;
}
.transaction-status-button {
  background-color: #727d95;
  padding: 4px 18px 4px 18px;
  border-radius: 18px;
  color: #fff;
}
.transaction-container .cards {
  justify-content: flex-end;
}
.transaction-container p {
  word-break: break-all;
}
.transaction-status-button {
  background-color: #727d95;
  padding: 4px 18px 4px 18px;
  border-radius: 18px;
  color: #fff;
}
