.empty-transaction {
  text-align: center;
}
.transaction-container {
  height: -webkit-fill-available;
  padding: 10px;
  background: #fff;
  border-top: 0.5px solid #dee2e6;
  max-height: -webkit-fill-available;
  overflow: auto;
}
.transaction-status-button {
  background-color: #727d95;
  padding: 4px 18px 4px 18px;
  border-radius: 18px;
  color: #fff;
}
.transaction-container .cards {
  justify-content: flex-end;
}
.transaction-container p {
  word-break: break-all;
}
.transaction-status-button {
  background-color: #727d95;
  padding: 4px 18px 4px 18px;
  border-radius: 18px;
  color: #fff;
}
.transaction-container .modal-input {
  padding-bottom: 0;
  position: relative;
}
.transaction-container .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  margin-left: 27%;
  margin-right: 3%;
}

.transaction-container .autocomplete-list {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.transaction-container .autocomplete-list:hover {
  background-color: #e9e9e9;
}
